.span-studio {
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
}
.webstudio-cloud {
    color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
}
.webstudio-iris {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #fff;
}
p{
    font-size:16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 42px;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 24px;
}
a {
    text-decoration: none;
    font-weight: 500;
}
nav a {
    font-weight: 500;
}
nav > a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}
.header-white {
    background-color: #FFFFFF;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}
.overlay {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.overlay-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.overlay h1 {
    text-align: center;
}
.team-center h3 {
    text-align: center;
    color:#2E2F42;
}
.team-center p {
    text-align: center;
    color:#434455;
}
.team-center h2 {
    text-align: center;
    color:#2E2F42;
}
.team-center {
    background-color: #F4F4FD;
}
.portfolio-center h2 {
    text-align: center;
    color: #2E2F42;
}

.portfolio-center p {
    color:#434455;
}
.portfolio-center h3 {
    color:#2E2F42;
}



.change-button:hover {
    background-color: #404bbf;
}
.change-button:focus {
    background-color: #404bbf;
}


.change-color a {
    color: #2E2F42;
}

.change-color-address {
    color: #434455;
}

.change-color a:hover,
.change-color a:focus,
.change-color-address:hover,
.change-color-address:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}