.span-studio {
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
}
.webstudio-cloud {
    color:#F4F4FD;
    font-family: 'Raleway', sans-serif;
}
.webstudio-iris {
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.2em;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
    color: #434455;
}
.header-white {
    background-color: #FFFFFF;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5em;
}
.overlay {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.overlay h1 {
    text-align: center;
}
.team-center h3 {
    text-align: center;
}
.team-center p {
    text-align: center;
}
.team-center h2 {
    text-align: center;
}
.team-center {
    background-color: #F4F4FD;
}
.portfolio-center h2 {
    text-align: center;
}



.change-button:hover {
    color: #404bbf;
}
.change-button:focus {
    color: #404bbf;
}



.change-color a:hover {
    color: #404bbf;
}
.change-color a:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}